<div class="member">
    <div class="login" *ngIf="!user else logined">
        <p>Welcome to Netease Cloud Music!</p>
        <button nz-button class="btn" (click)="openModal.emit()">Log In</button>
    </div>

    <ng-template #logined>
      <div class="n-myinfo">
        <div class="f-cb clearfix">
          <div class="head">
            <img [src]="user.profile.avatarUrl" alt="user.profile.nickname">
          </div>
          <div class="info">
            <h4>
              <a class="nm ellipsis">{{user.profile.nickname}}</a>
            </h4>
            <p class="lv">
              <span class="u-lv u-icn2">
                {{user.level}} <i class="lvright u-icn2"></i>
              </span>
            </p>
            <div class="btnwrap f-pr" nz-tooltip  [nzTooltipTitle]="tipTitle" nzTooltipPlacement="bottom" [nzVisible]="showTip">
              <button nz-button nzType="primary" nzBlock="true" (click)="onCheckin()">Daily CheckIn</button>
            </div>
          </div>
        </div>
        <ul class="dny clearfix">
          <li class="fst">
            <strong class="ellipsis">{{user.profile.eventCount}}</strong>
            <span>Active</span>
          </li>
          <li>
            <strong class="ellipsis">{{user.profile.follows}}</strong>
            <span>Follows</span>
          </li>
          <li class="lst">
            <strong class="ellipsis">{{user.profile.followeds}}</strong>
            <span>Fans</span>
          </li>
        </ul>
      </div>
    </ng-template>
</div>


