<div class="sheet wrap feature-wrap">
  <div class="list-r">
      <div class="top">
          <div class="cat">
              <span>{{artistAlbum.artist.name}}</span>
          </div>
      </div>
      <div class="list">
          <app-album-cover
              class="sheet-item"
              *ngFor="let item of albumList"
              [album] = "item"
              (onPlay) = "onPlayList($event)"
              (click)="toInfo(item.id)"
              >
          </app-album-cover>
      </div>
      <nz-pagination
      class="pagination"
      [nzPageSize]="albumParams.limit"
      [nzPageIndex]="albumParams.offset"
      [nzTotal]="artistAlbum.artist.albumSize"
      (nzPageIndexChange)="onPageChange($event)"
      >

      </nz-pagination>
  </div>
</div>
