<div class="m-player" (click)="selfClick = true">
    <div class="lock">
        <div class="left">
            <i></i>
        </div>
    </div>
        <div class="hand"></div>
        <div class="container">
            <div class="wrap">
                <div class="btns">
                    <i class="prev"(click)="onPrev(currentIndex - 1)"></i>
                    <i class="toggle" [class.playing]="playing" (click)="onToggle()"></i>
                    <i class="next"(click)="onNext(currentIndex + 1)"></i>
                </div>
                <div class="head">
                    <img [src]='picUrl'>
                    <i class="mask"></i>
                </div>
                <div class="play">
                    <div class="words clearfix" [hidden]="false">
                        <p class="ellipsis margin-bottom-none">{{currentSong?.name}}</p>
                        <ul class="songs clearfix margin-bottom-none">
                            <li *ngFor="let item of currentSong?.ar;last as isLast">
                            <a>{{item.name}}</a>
                            <span [hidden]="isLast">/</span>
                            </li>
                        </ul>
                    </div>
                    <div class="bar">
                        <div class="slider-wrap">
                            <app-wy-slider [bufferOffset]= "bufferOffset1" [(ngModel)]="percent" (wyOnAfterChange)="onPercentChange($event)"></app-wy-slider>
                        </div>
                        <span class="time">
                            <em>{{currentTime | formatTime}}</em> /{{duration | formatTime}}
                        </span>
                    </div>
                </div>
                <div class="oper">
                    <i class="like" title="like"></i>
                    <i class="share" title="share"></i>
                </div>
                <div class="ctrl">
                    <i class="volume" title="volume" (click)="toggleVolPanel($event)"></i>
                    <i [ngClass]="currentMode.type" [title]="currentMode.label"(click)="changeMode()"></i>
                    <p class="open" (click)="toggleListPanel()">
                        <span></span>
                    </p>
                    <div class="control-vol" [hidden]="!showVolumnPanel">
                        <app-wy-slider [(ngModel)]="volumnPercent" [wyVertical]='true' (ngModelChange)="onVolumnChange($event)"></app-wy-slider>
                    </div>
                </div>
                <app-wy-player-panel 
                [songList]="songList"
                [playing]='playing' 
                [currentSong]="currentSong" 
                [show]="showPanel" 
                (onClose)="showPanel = false"
                (onChangeSong)="onChangeSong($event)"   
                ></app-wy-player-panel>
            </div>
    </div>
    <audio 
    [src]="currentSong?.url" 
    (canplay)="onCanPlay()"
    #audio
    (timeupdate)="onTimeUpdate($event)"
    (ended)="onEnded()"
    ></audio>
</div>