<div class="m-player"
  appClickoutside
  [@showHide]="showPlayer"
  (onClickOutside)="onClickOutside($event)"
  [bindFlag] = "bindFlag"
  (mouseenter) = "togglePlayer('show')"
  (mouseleave) = "togglePlayer('hide')"
  (@showHide.start)="animating = true"
  (@showHide.done)="onAnimationDone($event)"
  >
    <div class="lock" (click)="isLocked = !isLocked">
        <div class="left">
            <i [class.locked]="isLocked"></i>
        </div>
    </div>
        <div class="hand"></div>
        <div class="container">
            <div class="wrap">
                <div class="btns">
                    <i class="prev"(click)="onPrev(currentIndex - 1)"></i>
                    <i class="toggle" [class.playing]="playing" (click)="onToggle()"></i>
                    <i class="next"(click)="onNext(currentIndex + 1)"></i>
                </div>
                <div class="head">
                    <img [src]='picUrl'>
                    <i class="mask" (click)="toInfo(['/songInfo',currentSong && currentSong.id])"></i>
                </div>
                <div class="play">
                    <div class="words clearfix" [hidden]="false">
                        <p class="ellipsis margin-bottom-none" (click)="toInfo(['/songInfo',currentSong && currentSong.id])">{{currentSong?.name}}</p>
                        <ul class="songs clearfix margin-bottom-none">
                            <li *ngFor="let item of currentSong?.ar;last as isLast">
                            <a (click)="toInfo(['/singer',item.id])">{{item.name}}</a>
                            <span [hidden]="isLast">/</span>
                            </li>
                        </ul>
                    </div>
                    <div class="bar">
                        <div class="slider-wrap">
                            <app-wy-slider [bufferOffset]= "bufferOffset1" [(ngModel)]="percent" (wyOnAfterChange)="onPercentChange($event)"></app-wy-slider>
                        </div>
                        <span class="time">
                            <em>{{currentTime | formatTime}}</em> /{{duration | formatTime}}
                        </span>
                    </div>
                </div>
                <div class="oper">
                    <i class="like" title="like" (click)="onLikeSong(currentSong.id.toString())"></i>
                    <i class="share" title="share" (click)="onShare(currentSong)"></i>
                </div>
                <div class="ctrl">
                    <i class="volume" title="volume" (click)="toggleVolPanel($event)"></i>
                    <i [ngClass]="currentMode.type" [title]="currentMode.label"(click)="changeMode()"></i>
                    <p class="open" nz-tooltip [nzTooltipTitle]="controlTooltip.title" nzOverlayClassName="tip-bg" [nzVisible]="controlTooltip.show"(click)="toggleListPanel()">
                        <span></span>
                    </p>
                    <div class="control-vol" [hidden]="!showVolumnPanel">
                        <app-wy-slider [(ngModel)]="volumnPercent" [wyVertical]='true' (ngModelChange)="onVolumnChange($event)"></app-wy-slider>
                    </div>
                </div>
                <app-wy-player-panel
                [songList]="songList"
                [playing]='playing'
                [currentSong]="currentSong"
                [show]="showPanel"
                (onClose)="showPanel = false"
                (onChangeSong)="onChangeSong($event)"
                (onDeleteSong)="onDeleteSong($event)"
                (onClearSong)="onClearSong() "
                (onToInfo)="toInfo($event)"
                (onLikeSong)="onLikeSong($event)"
                (onShareSong)="onShare($event)"
                ></app-wy-player-panel>
            </div>
    </div>
    <audio
    [src]="currentSong?.url"
    (canplay)="onCanPlay()"
    #audio
    (timeupdate)="onTimeUpdate($event)"
    (ended)="onEnded()"
    (error)="onError()"
    ></audio>
</div>
